@model IEnumerable<JARVIS.Models.Alimento>

<p>
    @Html.ActionLink("Create New", "Register")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idAlimento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idAlimento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idAlimento }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idAlimento }, new { onclick = "return confirm('Are sure wants to delete?');" })
            </td>
        </tr>
    }

</table>